*.aar filter=lfs diff=lfs merge=lfs -text
*.plan filter=lfs diff=lfs merge=lfs -text
mx-android-sdk/build/.transforms/0ded46ea01cac73e9de6e66d2ab12383/mx-android-sdk-release/assets/data/attr_model4_mobile.plan filter=lfs diff=lfs merge=lfs -text
